---
import BlogPostCard from "../../components/BlogPostCard.astro";
import CenteredBody from "../../components/CenteredBody.astro";
import Layout from "../../layouts/Layout.astro";

import type { BlogPost } from "../../scripts-ssr/types";

const posts = [] ?? (await Astro.glob<BlogPost>("./*.{md,mdx}"));
---

<Layout title="Ven's Blog" description="in the mind of an insane person">
    <CenteredBody>
        <h1>Blog</h1>
        <p>I really wanna write something here at some point</p>
        <div>
            {posts.map(p => <BlogPostCard post={p} />)}
        </div>
    </CenteredBody>
</Layout>
