---
import "normalize.css";
import "../styles/global.css";

import NavBar from "../components/NavBar.astro";

import { AUTHOR, ICON, THEME_COLOUR } from "../scripts-ssr/constants";
import Footer from "../components/Footer.astro";

export interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href={ICON} />

        <title>{title}</title>
        <meta name="description" content={description} />
        <meta name="author" content={AUTHOR} />
        <meta name="theme-color" content={THEME_COLOUR} />

        <meta name="og:type" content="website" />
        <meta name="og:title" content={title} />
        <meta name="og:description" content={description} />
        <meta name="og:url" content={Astro.url} />
        <meta name="og:image" content={ICON} />
    </head>
    <body>
        <script is:raw>
            let theme = localStorage.getItem("theme");
            if (!theme || !["light", "dark"].includes(theme)) {
                theme = window.matchMedia("(prefers-color-scheme: dark)")
                    .matches
                    ? "dark"
                    : "light";
            }
            document.body.classList.add(theme);
        </script>

        <!-- Mastodon Link verification shenanigans -->
        <a rel="me" href="https://wetdry.world/@v" style="display: none;"></a>
        <header>
            <NavBar title={title} />
        </header>

        <main>
            <slot />
        </main>

        <Footer />
    </body>
</html>

<script>
    import "../scripts/global";
</script>
